body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 10%;
  width: 10%;
  border-radius: 1em;
  border: none;
}

#id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
}

.btn:hover {
  transform: translateY(-5%);
}